@model IEnumerable<ASP.NET_Day1.Models.Employee>
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Record</h2>
    <input type="button" class="btn btn-primary" id="addData" value="Add" onclick="AddData();" />
    <br /><br />
    <table class="table table-bordered table-hover">
        <tr>
            <th style="display:none;">
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Action</th>
        </tr>
        @foreach (var i in Model)
        {
            <tr>
                <td style="display:none;">
                    @Html.DisplayFor(modelItem => i.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.LoginName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Address)
                </td>
                <td>
                    <a class="btn btn-info btn-sm" id="@i.EmployeeId" onclick="GetDetailEmployee(this.id)">Edit</a>
                    <a class="btn btn-danger btn-sm" id="@i.EmployeeId" onclick="DeleteEmployee(this.id)"> Delete </a>
                </td>
            </tr>
        }
    </table>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Employee Data</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function AddData() {
            $.post("@Url.Action("CreateEmployee", "Employees")",
                function (data) {
                    $('.modal-body').html(data);
                });
                $("#myModal").modal("show");
        }
        @*function GetbyID(ID) {
              $.get("@Url.Action("GetByID", "Home")/" + ID,
                function (data) {
                    $('.modal-body').html(data);
                });
                $("#myModal").modal("show");
        }
         function GetbyDelID(ID) {
              $.get("@Url.Action("GetByDeleteID", "Home")/" + ID,
                function (data) {
                    $('.modal-body').html(data);
                });
                $("#myModal").modal("show");
        }
        function EditData() {
             $.post("@Url.Action("MyEditPartial", "Home")",
                function (data) {
                    $('.modal-body').html(data);
                });
                $("#myModal").modal("show");
        }
        function Delete(ID) {
            $.post("@Url.Action("MyDeletePartial", "Home")/" + ID,
                function (data) {
                   $('.modal-body').html(data);
                });
            $("#myModal").modal("show");
        }*@
    </script>

}